body {
  background: maroon;
  display:inline;
}
.topGum {
  font-family: "Helvetica",sans-serif;
  font-variation-settings: 'wght' 900;
  font-style: normal;
  font-stretch: 150%;
  letter-spacing: -4.2vw;
  display:inline-block; 
}
.upperTeeth{
  display:inline;
  margin-top: -50vw;
  position: relative;
  width: 120vw;
}
.upperGum{
  margin-bottom: -26vw;
  position: relative;
  z-index: 1;
}
img{
  margin: -4.5vw;
  width:40vw;
}

.teef{
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  color:#e0d6a6;
  background-image: linear-gradient(to bottom, #d4c57f, #ede3b4, #ede3b4);
  border-radius: 3vw;
  font-size: clamp(0rem, 14vw, 100rem); 
  line-height: 20vw;
  height: 16vw;
  width: 13.25vw;
  margin: 0vw -0.1vw;
  letter-spacing: -4.12vw;
  display:inline-block;
}
.teeth1{
  padding-top: 3vw;
  margin-left: -3.75vw;
  rotate: -5deg;
}
.topTooth1{
  padding-top: 3vw;
  margin-left: -3.75vw;
  rotate: -5deg;
  background-image: radial-gradient(rgb(248, 235, 160) 5%,gold 60%, rgb(179, 158, 42));
  display: inline-block;
}
.toothGrid1{
  display: grid;
}
.toothGrid1 span{
  grid-area: 1 / 2;
}
.toothGrid2{
  display: grid;
}
.toothGrid2 span{
  margin-left: -2.65vw;
  grid-area: 1/2;
}
.toothGrid3{
  display: grid;
}
.toothGrid3 span{
  margin-left: -2.75vw;
  grid-area:1/2;
}

.gemLayer1 {
  text-shadow: 0 0 0.25vw rgb(255, 223, 41),
    0 0 0.3vw rgb(255, 255, 255);
  color:transparent;
  font-weight: 450;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 1,
    "ELSH" 0,
    "ELXP" 0;
}
.gemLayer2 {
  color:red;
  font-weight: 350;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 1,
    "ELSH" 0,
    "ELXP" 0;
}
.gemLayer3 {
  color: transparent;
  /* text-shadow: 0 0 0.5vw rgba(255, 255, 255),
  0 0 0.1vw rgb(255, 255, 255, 0.479); */
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 1,
    "ELXP" 0;
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
  animation: glow 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0.5vw rgba(255, 255, 255),
    0 0 0.1vw rgb(255, 255, 255, 0.479);
    font-weight: 300;
    font-variation-settings:
      "ELSH" 77;
  }
  to {
    text-shadow: 0 0 0.4vw rgba(255, 255, 255),
    0 0 0.025vw rgba(255, 255, 255, 0.589);
    font-weight: 400;
    font-variation-settings:
      "ELSH" 83;
  }
}

.topTooth2{
  background-image: radial-gradient(rgb(248, 235, 160) 5%,gold 60%, rgb(179, 158, 42));
}

.tseg1{
  margin:0vw -0.5vw 0vw 10vw;;
  rotate: 85deg;
}

.tseg2{
  margin:0vw 35.3vw 0vw;
  rotate: 90deg;
}

.tseg3{
  rotate: 95deg;
}
.subDivTopOuter{
  margin-left: -17.12vw;
  color: #fc7e7e; 
  font-size: clamp(0rem, 15vw, 100rem); 
  line-height: 10vw;
}

.subDivTopMid{
  line-height: 9.9vw;
  color: #fc7e7e; 
  font-size: clamp(0rem, 15vw, 100rem); 
}
.eOGum{
  color: #fc5d5d;
}
.gumColorFillTop{
  background-color: #fc5d5d;
  width:100vw;
  height:100vw;
  margin-top: -96vw;
  margin-bottom: -33.975vw;
}

.I{
  transform: scaleY(0.05);
  font-size: clamp(0rem, 7vw, 100rem); 
  margin-bottom: -2vw;
  margin-right: -2.5vw;
}

.lThan1{
  color: transparent;
  text-shadow: 0 0 0.75vw  #fc7e7e,
               0 0 1.5vw  #fc7e7e;
  display: inline-block;
  font-family: "Comic Sans MS", system-ui;
  font-weight: 900;
  font-style: normal;
  transform: scaleY(3.5);
  padding-bottom: 3.75vw;
  letter-spacing: -8vw;
  
}
.lThan2{
  color: transparent;
  text-shadow: 0 0 0.5vw  #fc7e7e,
               0 0 1vw  #fc7e7e;
  display: inline-block;
  font-family: "Comic Sans MS", system-ui;
  font-weight: 900;
  font-style: normal;
  padding-bottom: 1.5vw;
  padding-right: 0.25vw;
  transform: scaleY(2.5) scaleX(1.75);
}
.lThan3{
  font-family: "Comic Sans MS", system-ui;
  font-weight: 900;
  font-style: normal;
}

.topTooth3{
  background-image: radial-gradient(rgb(248, 235, 160) 5%,gold 60%, rgb(179, 158, 42));
  width: 13.25vw;
}
.topTooth4{
  width: 13.25vw;
  margin-bottom: -3vw;
}
.topTooth5{
  width: 13.25vw;
  margin-bottom: -3vw;
}
.topTooth6{
  width: 13.25vw;
  margin-bottom: -3vw;
}
.topTooth7{
  width: 13.25vw;
  background-image: radial-gradient(rgb(248, 235, 160) 5%,gold 60%, rgb(179, 158, 42));
  margin-bottom: -3vw;
}
.topTooth8{
  width: 13.25vw;
  background-image: radial-gradient(rgb(248, 235, 160) 5%,gold 60%, rgb(179, 158, 42));
  rotate: 5deg;
  margin-bottom: -3vw;
  margin-right: -7vw;
}

#slow-header {
  padding-top: 1vw;
  position: fixed;
  z-index: 1000;
}

.image-container{
  display: flex;
  padding-top: 7.5vw;
}

.imgCol1{
  width: 50vw;
  flex:1;
}
.imgCol2{
  width: 50vw;
  flex:1;
}
.indImg{
  background-color: transparent;
  width: 30vw;
  padding-left: -1vw;
  border-radius: 3vw;
  box-shadow: -5vw 5vw 10vw 0vw;
  margin-top: 10vw;
  margin-left: 7.5vw;
}